<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/Logo blue_dark.png"  style="width:25px" align="right";/>
</div>

# Composite and foreign keys:  Basic_services and Economic_indicators tables
© ExploreAI Academy

In this notebook, we demonstrate how to divide a larger dataset into smaller tables and link them using relationships.

> ⚠️ This notebook will not run on Google Colab because it cannot connect to a local database. Please make sure that this notebook is running on the same local machine as your MySQL Workbench installation and MySQL `united_nations` database.

## Learning objectives

By the end of this train, you should:
- Understand how to create composite keys that make up the primary key.
- Understand how to create a foreign key that references a primary key in another table.

## Connecting to our MySQL database

Using our `Access_to_Basic_Services` table created in MySQL Workbench, we are interested in creating tables that contain  the basic services and economic indicators data for each country and each year. We can apply the same queries in MySQL Workbench and in this notebook if we connect to our MySQL server. Since we have a MySQL database, we can connect to it using mysql and pymysql.

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [2]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql mysql+pymysql://root:password@localhost:3306/united_nations

To make a query, we add the `%%sql` command to the start of a cell, create one open line, and then the query like below, and run the cell.

In [3]:
%%sql

SELECT 
    *
FROM
    Access_to_Basic_Services
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/united_nations
5 rows affected.

[('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2015, Decimal('94.67'), Decimal('98.00'), Decimal('17.542806'), Decimal('184.39'), Decimal('2699700.00'), Decimal('4.93')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2016, Decimal('94.67'), Decimal('98.00'), Decimal('17.794055'), Decimal('137.28'), Decimal('2699700.00'), Decimal('4.96')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2017, Decimal('95.00'), Decimal('98.00'), Decimal('18.037776'), Decimal('166.81'), Decimal('2699700.00'), Decimal('4.90')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2018, Decimal('95.00'), Decimal('98.00'), Decimal('18.276452'), Decimal('179.34'), Decimal('2699700.00'), Decimal('4.85')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2019, Decimal('95.00'), Decimal('98.00'), Decimal('18.513673'), Decimal('181.67'), Decimal('2699700.00'), Decimal('4.80'))]

## Exercise

We want to do the following:
1. Create a table that contains data about access to basic services for each country and year.
2. Create a table that contains the economic indicators for each country and each year.

### 1. Create a table that contains data about access to basic services for each country and year only.

Create a table named `Basic_services` with the columns `Country_name`, `Time_period`, `Pct_managed_drinking_water_services`, and `Pct_managed_sanitation_services`, with `Country_name` and `Time_period` being the composite keys and `Country_name` being the foreign key.

In [8]:
%%sql

CREATE TABLE united_nations.Basic_Services (
    Country_name VARCHAR(37),
    Time_period INTEGER,
    Pct_managed_drinking_water_services NUMERIC(5, 2),
    Pct_managed_sanitation_services NUMERIC(5, 2),
    PRIMARY KEY (Country_name, Time_period),
    FOREIGN KEY (Country_name) REFERENCES united_nations.Geographic_Location(Country_name)
);

 * mysql+pymysql://root:***@localhost:3306/united_nations
0 rows affected.

[]

Extract the columns `Country_name`, `Time_period`, `Pct_managed_drinking_water_services`, and `Pct_managed_sanitation_services` from the `Access_to_Basic_Services` table into the newly created `Basic_services` table.

In [9]:
%%sql

INSERT INTO united_nations.Basic_Services (Country_name, Time_period, Pct_managed_drinking_water_services, Pct_managed_sanitation_services)
SELECT
    Country_name,
    Time_period,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services
FROM
    united_nations.Access_to_Basic_Services;

 * mysql+pymysql://root:***@localhost:3306/united_nations
1048 rows affected.

[]

In [10]:
%%sql
-- Confirm entries for basic services

SELECT 
    *
FROM
    Basic_Services
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/united_nations
5 rows affected.

[('Afghanistan', 2015, Decimal('67.00'), Decimal('45.67')),
 ('Afghanistan', 2016, Decimal('69.67'), Decimal('47.00')),
 ('Afghanistan', 2017, Decimal('72.33'), Decimal('49.33')),
 ('Afghanistan', 2018, Decimal('75.33'), Decimal('50.67')),
 ('Afghanistan', 2019, Decimal('78.00'), Decimal('52.33'))]

### 2. Create a table that contains the economic indicators.

Create a table named `Economic_indicators` with the columns `Country_name`, `Time_period`, `Est_gdp_in_billions`, `Est_population_in_millions`, and `Pct_unemployment`, with `Country_name` and `Time_period` being the composite keys and `Country_name` being the foreign key.

In [11]:
%%sql

CREATE TABLE united_nations.Economic_indicators (
    Country_name VARCHAR(37),
    Time_period INTEGER,
    Est_gdp_in_billions NUMERIC(8, 2),
    Est_population_in_millions NUMERIC(11, 6),
    Pct_unemployment NUMERIC(5, 2),
    PRIMARY KEY (Country_name, Time_period),
    FOREIGN KEY (Country_name) REFERENCES united_nations.Geographic_Location(Country_name)
);

 * mysql+pymysql://root:***@localhost:3306/united_nations
0 rows affected.

[]

Extract the columns `Country_name`, `Time_period`, `Est_gdp_in_billions`, `Est_population_in_millions`, and `Pct_unemployment` from the `Access_to_Basic_Services` table into the newly created `Economic_indicators` table.

In [12]:
%%sql

INSERT INTO Economic_indicators (Country_name, Time_period, Est_gdp_in_billions, Est_population_in_millions, Pct_unemployment)
SELECT
    Country_name,
    Time_period,
    Est_gdp_in_billions,
    Est_population_in_millions,
    Pct_unemployment
FROM
    Access_to_Basic_Services;

 * mysql+pymysql://root:***@localhost:3306/united_nations
1048 rows affected.

[]

In [13]:
%%sql
-- Confirm entries
SELECT
    *
FROM
    Economic_indicators
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/united_nations
5 rows affected.

[('Afghanistan', 2015, Decimal('20.00'), Decimal('33.753499'), None),
 ('Afghanistan', 2016, Decimal('18.02'), Decimal('34.636207'), None),
 ('Afghanistan', 2017, Decimal('18.90'), Decimal('35.643418'), Decimal('11.18')),
 ('Afghanistan', 2018, Decimal('18.42'), Decimal('36.686784'), None),
 ('Afghanistan', 2019, Decimal('18.90'), Decimal('37.769499'), None)]

## Solutions

### 1. Create a table that contains data about access to basic services for each country and year only.

In [ ]:
%%sql

CREATE TABLE united_nations.Basic_Services (
  Country_name VARCHAR(37),
  Time_period INTEGER,
  Pct_managed_drinking_water_services NUMERIC(5,2),
  Pct_managed_sanitation_services NUMERIC(5,2),
  PRIMARY KEY (Country_name, Time_period),
  FOREIGN KEY (Country_name) REFERENCES Geographic_Location (Country_name)
);

Since our main Access to Basic Services table contains measurements of basic services for each country and year, it implies that every unique country and year will have unique measurements. In other words, both `Country_name` and `Time_period` identify each unique entry. Therefore, `Country_name` and `Time_period` are the composite keys that make up the primary key.

Furthermore, since we have already created a `Geographic_Location` table that contains the geographic location data for each country, this table will include a foreign key that links the `Country_name` column to the `Country_name` primary key in the `Geographic_Location` table.

In [ ]:
%%sql

INSERT INTO Basic_Services (Country_name, Time_period, Pct_managed_drinking_water_services, Pct_managed_sanitation_services)
SELECT Country_name,
    Time_period,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services
FROM united_nations.Access_to_Basic_Services;

### 2. Create a table that contains the economic indicators.

In [ ]:
%%sql

CREATE TABLE united_nations.Economic_Indicators (
  Country_name VARCHAR(37),
  Time_period INTEGER,
  Est_gdp_in_billions NUMERIC(8,2),
  Est_population_in_millions NUMERIC(11,6),
  Pct_unemployment NUMERIC(5,2),
  PRIMARY KEY (Country_name, Time_period),
  FOREIGN KEY (Country_name) REFERENCES Geographic_Location (Country_name)
);

Again, since we have these metrics per country and per year, `Country_name` and `Time_period` are the composite keys that make up the primary key, and we will have a foreign key that links the `Country_name` column to the `Country_name` primary key in the `Geographic_Location` table.

In [ ]:
%%sql

INSERT INTO Economic_Indicators (Country_name, Time_period, Est_gdp_in_billions, Est_population_in_millions, Pct_unemployment)
SELECT Country_name,
    Time_period,
    Est_gdp_in_billions,
    Est_population_in_millions,
    Pct_unemployment    
FROM united_nations.Access_to_Basic_Services;

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>